<form>
  <div class="form-group">
    <label for="petType">Tipo</label>
    <input type="text" class="form-control" id="petType" [(ngModel)]="pet.typePet"
      [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label for="petRace">Raza</label>
    <input type="text" class="form-control" id="petRace" name="petRace"[(ngModel)]="pet.race" >
  </div>
  <div class="form-group">
    <label for="petName">Nombre</label>
    <input type="text" class="form-control" id="petName" name="petName" [(ngModel)]="pet.name">
  </div>
  <div class="form-group">
    <label for="petDob">Fecha Nacimiento</label>
    <input type="date" class="form-control" id="petDob" name="petDOB" [(ngModel)]="pet.dob">
  </div>
  <div class="form-group">
    <label for="petWiught">Peso</label>
    <input type="number" class="form-control" id="petWight" [(ngModel)]="pet.weight"
      [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label for="petNext">Proxima Cita</label>
    <input type="date" class="form-control" id="petNext" name="dateVisit" [(ngModel)]="pet.nextAppoint">
  </div>

  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group">
      <a class="btn btn-primary" (click)="onSubmit()">Actualizar</a>
    </div>
    <div class="btn-group mr-2" role="group">
      <a class="btn btn-danger" (click)="deletePet(pet._id)">Eliminar</a>
    </div>
  </div>

</form>

<div class='row'>
  <ng-container *ngIf="numeroRevisiones>0; else elseTemplate">
      <div class='col-6'><h3>Revisiones: {{numeroRevisiones}}</h3></div>  
  </ng-container>
  <ng-template #elseTemplate>

      <div class='col-6'><h3>Revisiones: 0</h3></div>
  </ng-template>
  
  
  <div class='col-6'>
      <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Add new Revision</button>
  </div>
</div>

<!--CREATING MODAL FOR ADDING NEW REVISIONS-->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
          <div class="form-group">
              <label for="recordDate">Fecha Visita</label>
              <input type="date" class="form-control" id="recordDate" name='date' [(ngModel)]="recordId.date">
            <!--</div>
        <div class="form-group">-->
            <label for="petWeight">Peso</label>
            <input type="number" class="form-control" id="petWeight" name='weight'[(ngModel)]="recordId.weight">
        <!--</div>
        <div class="form-group">-->
            <label for="petDescription">Description</label>
            <input type="text" class="form-control" id="petDescription" name='description' [(ngModel)]="recordId.description">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>

<ng-container *ngIf="numeroRevisiones>0">
  <!--ACCORDION FOR CHECKING REVISIONS-->
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel *ngFor="let record of pet.history.records;" title="Visita {{record.recordId.date}}">
    <ng-template ngbPanelContent>
      <form>
          <label for="petWeight">Peso</label>
          <input type="number" class="form-control" id="petWeight" name='weight'[(ngModel)]="record.recordId.weight">
          <label for="petDescription">Description</label>
          <input type="text" class="form-control" id="petDescription" name='description' [(ngModel)]="record.recordId.description">
      </form>
      <div class="row">
        <div class="col-6">
            <button type="button" class="btn btn-warning" (click)="updateRecord(record.recordId._id,record.recordId)">Editar</button>
        </div>
        <div class="col-6">records
            <button type="button" class="btn btn-danger" (click)="deleteRecord(record.recordId._id)">Eliminar</button>
        </div>
      </div>
    </ng-template>
  </ngb-panel>   
</ngb-accordion>

</ng-container>


  